<tr>
    <td>

    </td>
    <td>{{ item["item"]["name"] }}</td>
    <td>{{ item["nb"] }}</td>
    <td>{{ item["rate"] | number_format }}%</td>
    <td>{{ item["item"]["totalCost"] }}g</td>
    <td></td>
    <td></td>
    <td></td>
</tr>