{% extends "PouzorLolStatBundle::layout.html.twig" %}


{% block body %}

<div class="page-header">
    <h1>
      Register to PouzStats

  </h1>
</div>
<br />



<h5>Thank you !</h5>
<p>
    You will be notified soon about your account validation and activation.
</p>
<br /><br />
<a href="{{ path("homepage") }}">
    <button type="button" class="btn btn-default">Back to site</button>
</a>

{% endblock %}