

.table_champ_pict {
	width: 40px;
}

.table_item_pict {
	width: 36px;

} 

.table_item_pict_small {
  width: 28px;  
}

.table_search_summoner input, .table_search_summoner select{
	width: 200px;
}

.summoner_loader {
    margin-left: 130px;
    margin-top: 30px;

}

#content {
    margin-top: 60px;
}

.profileicon {
    width: 58px;
    margin-right: 15px;
}

.navbar-nav > li > a, .navbar-nav > li > a:hover {
    padding-top: 15px;
}

.panel-heading {
    height: 45px;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
    padding-top:2px;
    background-color: #395c82!important;
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d)!important;


}

.panel-heading h4 {
    color: white;
}