thead tr {
	background-color: #333;
	color: white;
}


.table_champ_pict {
	width: 40px;
}

.table_item_pict {
	width: 36px;

} 

.table_search_summoner input, .table_search_summoner select{
	width: 200px;
}

.summoner_loader {
    margin-left: 130px;
    margin-top: 30px;

}